body {
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
#container {
 margin: 32px auto 0;
 width: 626px;
 height: 486px;
 align-items: center;
 justify-content: center;
}

#container img {
  margin: auto;
}
#text {
  text-align: center;
}
h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  height: 40px;
  width: 494px;
  margin: auto;
  margin-top: 20px;
}
span {
  font-weight: bold;
  color: #EE24FF;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #828282;
  width: 580px;
  height: 107px;
  margin: 20px auto 0;
}
#baixo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #828282;
  width: 626px;
  height: 21px;
}
strong {
  font-weight: bold;
  color: #3F3D56;
}
#Flutuar {
  font-weight: bold;
  color: #828282;
}
#rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 52px;
}
a {
  text-decoration: none;
  color: #3F3D56;
  font-weight: bold;
}
footer a + a {
  margin-left: 28px;
}
#img {
  width: 100%;
  height: 104px;
  position: fixed;
  bottom: 0;
  left: 0;
}