body {
  margin: 0;
  text-align: center;
}
#container {
  border: 1px solid black;
 margin: 64px auto 0;
 width: 626px;
 height: 486px;
 align-items: center;
 justify-content: center;
 
}

#container img {
  margin: auto;
}
#text {
  text-align: center;
}
h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}
span {
  font-weight: bold;
  color: #EE24FF;
}
ul {
list-style: none;
}
#img {
  width: 100%;
  height: 104px;
  margin-bottom: 0;
}